aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2020.12.5
chardet==4.0.0
dephell-pythons==0.1.15
dephell-specifier==0.2.2
docopt==0.6.2
docutils==0.17.1
geoip2==4.2.0
idna==2.10
joblib==1.0.1
MarkupSafe==2.0.1
maxminddb==2.0.3
mistune==0.8.4
multidict==5.1.0
netaddr==0.8.0
numpy==1.21.0
openpyxl>=3.0.9
packaging==20.9
pandas==1.2.4
pexpect==4.8.0
pipreqs==0.4.10
ptyprocess==0.7.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
ruamel.yaml==0.17.8
ruamel.yaml.clib==0.2.2
shellingham==1.4.0
six==1.16.0
termcolor==1.1.0
tomlkit==0.7.2
typing-extensions==3.10.0.0
urllib3==1.26.4
yarg==0.1.9
yarl==1.6.3
yaspin==2.0.0
xlsxwriter>=3.0.2
